<script src="http://www.jqueryscript.net/demo/Responsive-jQuery-News-Ticker-Plugin-with-Bootstrap-3-Bootstrap-News-Box/scripts/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>

<script>

    $(function () {
        $(".demo1").bootstrapNews({
            newsPerPage: 3,
            autoplay: true,
    		pauseOnHover:true,
            direction: 'up',
            newsTickerInterval: 4000,
            onToDo: function () {
                //console.log(this);
            }
        });

		$(".demo2").bootstrapNews({
            newsPerPage: 4,
            autoplay: true,
			pauseOnHover: true,
			navigation: false,
            direction: 'down',
            newsTickerInterval: 2500,
            onToDo: function () {
                //console.log(this);
            }
        });

        $("#demo3").bootstrapNews({
            newsPerPage: 3,
            autoplay: false,

            onToDo: function () {
                //console.log(this);
            }
        });
    });

</script>
<style>
body{
  background-color:rgb(68, 179, 234);
  background-repeat:no-repeat;
  background-size:cover;
}
.col-md-4{


   position: absolute;
   margin-top:-4em;
   bottom: 0;
   left: 0;
   right: 0;

   margin: auto;
}
h1{
  height: 43%;
      text-align:center;
      display:table;
      width:100%;

    }
#buttons{
  position: absolute;
  margin-top: 3em;
  margin-left: 40em;
}
</style>
<div class="col-md-4">
<div class="panel panel-default">
<div class="panel-heading"> <span class="glyphicon"></span><b>SON DAKİKA DEPREMLER</b></div>
<div class="panel-body">
<div class="row">
<div class="col-xs-12">
<ul id="demo3" style="overflow-y: hidden; height: 210px;">
  <%id=0%>
  <%@x.each do |dep|%>
    <div id="dep_info">
      <h4 id ="news-item">Tarih:<%=dep.date%></h4>
      <h4 id ="news-item">Yer:<%=dep.place%></h4>
      <h4 id ="news-item">Büyüklük:<%=dep.siddet%></h4>
      <h4 id ="news-item">Şehir:<%=dep.city%></h4>
      <hr></hr>
    </div>
    <%id+=1%>
    <%if id==10%>
      <%break%>
    <%end%>

  <%end%>


</ul>
</div>
</div>
</div>
<div class="panel-footer"> <ul class="pagination pull-right" style="margin: 0px;"><li><a href="#" class="prev"><span class="glyphicon glyphicon-chevron-down"></span></a></li><li><a href="#" class="next"><span class="glyphicon glyphicon-chevron-up"></span></a></li></ul><div class="clearfix"></div></div>
</div>
</div>

<h1 style="font-size:60px;">TÜRKİYE DEPREMLERİ</h1>

<div id="buttons">
  <div class="btn-group">
    <%= link_to "ARAMA", searches_path, :class => "btn btn-default btn-lg btn-block btn-huge"%>
</div>
<div class="btn-group">
  <%= link_to "DATA ANALİZİ", interactive_page_path, :class => "btn btn-default btn-lg btn-block btn-huge"%>
</div>
</div>
